<table class="borderless" style="border:none">
  <tr>
    <td><a onclick="toggleVisibility('imprint_info'); scrollToBottom();" style="cursor:pointer;">Impressum</a></td>
    <td><a href="?lang=de&content=privacy">Datenschutz</a></td>
    <td><a href="https://codeberg.org/codeberg/org/src/branch/master/PrivacyPolicy.md">Datenschutzordnung des Webhosters</a>
  </tr>
</table>
<img id="imprint_info" style="display:none" src="img/impressum.png" alt="Imprint"/>
