---
layout: "empty"
---
<!DOCTYPE html>
<html> 
  <head> 
    <script src="jquery-3.4.1.min.js"></script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css?v=">
    <script>
      function getUrlParameterByName(name)
      {
	      var url = window.location.href;
	      name = name.replace(/[\[\]]/g, "\\$&");
	      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex.exec(url);
	      if (!results) return null;
	      if (!results[2]) return null;
	      return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      function getLanguage() {
        var userLang = getUrlParameterByName("lang")
        if (userLang == null) userLang = (navigator.language || navigator.userLanguage).substring(0, 2).toLowerCase();
        if (userLang != "de") userLang = "en";
        return userLang
      }
      
      function load(item, file, fallbackFile = null, itemToScrollIntoView = null) {
        $("#" + item).load(
          file,
          function(response, status, xhr) {
            if (status == "error") {
              console.log("Error loading " + file + "(" + response + ")");
              if (fallbackFile != null) { $("#" + item).load(fallbackFile); }
            } else {
              if (itemToScrollIntoView != null) {
                document.getElementById(itemToScrollIntoView).scrollIntoView()
              }
            }
         });
      }
      
      function translate(language, item, file) {
        load(item, language + "/" + file, "en/" + file);
      }
      
      function isVisible(item) {
        return document.getElementById(item).style.display !== 'none';
      }
      
      function toggleVisibility(item) {
        var x = document.getElementById(item);
        if (x.style.display === 'none') {
          x.style.display = 'block';
        } else {
          x.style.display = 'none';
        }
      }
      
      function scrollToBottom() {
        $('html, body').scrollTop($(document).height() - $(window).height());
      }
      
      function translateAll(language) {
        if (getUrlParameterByName("content") != "privacy") {
          translate(language, "div_content", "manifest.html");
          translate(language, "div_signature_buttons", "signatureButtons.html");
        } else {
          translate(language, "div_content", "privacy.html");
        }
        
        translate(language, "footer", "footer.html");
      }
      
      function validateSignatureData() {
        var form = document.forms["signForm"];
        var firstname = form["firstname"].value;
        var lastname = form["lastname"].value;
        var agreeWithPrivacyPolicy = form["agreeDataProcessing"].checked
        document.getElementById("signatureSendButton").disabled = firstname == "" || lastname == "" || !agreeWithPrivacyPolicy; 
      }
      
      function sendFailure() {
        alert("Send failed");
      }
      
      function sendMail(address, body) {
        var form = document.forms["signForm"];
        var firstname = form["firstname"].value;
        var lastname = form["lastname"].value;
        var additional = form["additional"].value;
        var isPublic = form["public"].checked ? "Public" : "Non-public";
        var mailUrl = "mailto:" + crypt(address, 13) + "?subject=" + isPublic + ": " + lastname + ", " + firstname;
        if (0 < additional.length) {
          mailUrl = mailUrl + " (" + additional + ")";
        }
        
        mailUrl = mailUrl + "&body=" + body + firstname + " " + lastname;
        mailUrl = mailUrl.replace(/ /g, "%20").replace(/\n/g, "%0D%0A");
        $('<iframe src="' + mailUrl + '"/>').appendTo('body').css("display", "none");
      }
      
      function crypt(cypherText, offset) {
        var result = ""
        for (i = 0; i < cypherText.length; i++)
        {
          result += String.fromCharCode(cypherText.charCodeAt(i) + offset);
        }

        return result;
      }
      
      function switchToLanguange(language) {
        var url = window.location.href;
        var newUrl = url.replace(/lang=[a-z]+/, "lang=" + language);
        if (newUrl == url) newUrl = url + "?lang=" + language;
        window.open(newUrl, "_top");
      }
      
      $(document).ready(function() { translateAll(getLanguage()); });
    </script>
    <script id="div_signscripts"></script>
    <style>
      .borderless table {
          border:none;
          padding:0
      }
      .borderless tr, .borderless td {
          border:none;
          padding:3pt
      }
    </style>

{% seo %}
  </head> 
  
  <body>
    <!-- LANGUAGE SELECTOR -->
    <div class="outer" style="text-align:right;color:#FFFFFF;">
      &#x1f310;
      <a onclick="switchToLanguange('de')" style="cursor:pointer">DE</a>
      <a onclick="switchToLanguange('en')" style="cursor:pointer">EN</a>
    </div>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner" style="padding:0">
          <h1 id="project_title">{{ site.title }}</h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div id="div_content"/>
      </section>
      <section id="div_signature_buttons_content" class="inner" style="padding-top:0;">
        <div id="div_signature_buttons"/>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <div id="footer"/>
      </footer>
    </div>   
    <div id="mail"/>
  </body>
</html>
